* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.container a {
  flex: 1 1;
  background-color: blue;
  margin-top: 5px;
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: white;
  color: blue;
}
